body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u69 {
  position:absolute;
  left:45px;
  top:0px;
  width:36px;
  height:40px;
  color:#F73F3C;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u71 {
  position:absolute;
  left:91px;
  top:0px;
  width:35px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u73 {
  position:absolute;
  left:136px;
  top:0px;
  width:35px;
  height:40px;
  color:#007241;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u75 {
  position:absolute;
  left:226px;
  top:0px;
  width:35px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u77 {
  position:absolute;
  left:406px;
  top:0px;
  width:35px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u79 {
  position:absolute;
  left:316px;
  top:0px;
  width:35px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u81 {
  position:absolute;
  left:271px;
  top:0px;
  width:35px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u83 {
  position:absolute;
  left:361px;
  top:0px;
  width:35px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u85 {
  position:absolute;
  left:181px;
  top:0px;
  width:35px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u87 {
  position:absolute;
  left:451px;
  top:0px;
  width:35px;
  height:40px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u91 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u92 {
  position:absolute;
  left:8px;
  top:17px;
  width:20px;
  height:20px;
  color:#FF0000;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u94 {
  position:absolute;
  left:496px;
  top:0px;
  width:35px;
  height:40px;
}
#u95 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
