body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u262 {
  position:absolute;
  left:45px;
  top:0px;
  width:36px;
  height:40px;
  color:#F73F3C;
}
#u263 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u264 {
  position:absolute;
  left:91px;
  top:0px;
  width:35px;
  height:40px;
}
#u265 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u266 {
  position:absolute;
  left:136px;
  top:0px;
  width:35px;
  height:40px;
  color:#007241;
}
#u267 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u268 {
  position:absolute;
  left:226px;
  top:0px;
  width:35px;
  height:40px;
}
#u269 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u270 {
  position:absolute;
  left:406px;
  top:0px;
  width:35px;
  height:40px;
}
#u271 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u272 {
  position:absolute;
  left:316px;
  top:0px;
  width:35px;
  height:40px;
}
#u273 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u274 {
  position:absolute;
  left:271px;
  top:0px;
  width:35px;
  height:40px;
}
#u275 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u276 {
  position:absolute;
  left:361px;
  top:0px;
  width:35px;
  height:40px;
}
#u277 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u278 {
  position:absolute;
  left:181px;
  top:0px;
  width:35px;
  height:40px;
}
#u279 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u280 {
  position:absolute;
  left:451px;
  top:0px;
  width:35px;
  height:40px;
}
#u281 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u284 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u285 {
  position:absolute;
  left:8px;
  top:17px;
  width:20px;
  height:20px;
  color:#FF0000;
}
#u286 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u287 {
  position:absolute;
  left:496px;
  top:0px;
  width:35px;
  height:40px;
}
#u288 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
