body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u344 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  color:#4BAE4F;
}
#u345 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#4BAE4F;
  text-align:left;
}
#u346 {
  position:absolute;
  left:8px;
  top:8px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#4BAE4F;
  text-align:left;
}
#u347 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u348 {
  position:absolute;
  left:50px;
  top:0px;
  width:40px;
  height:40px;
  color:#4BAE4F;
}
#u349 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u350 {
  position:absolute;
  left:100px;
  top:0px;
  width:40px;
  height:40px;
  color:#4BAE4F;
}
#u351 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F73F3C;
  text-align:left;
}
#u352 {
  position:absolute;
  left:108px;
  top:8px;
  width:25px;
  height:24px;
  font-size:24px;
  color:#F73F3C;
  text-align:left;
}
#u353 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u354 {
  position:absolute;
  left:150px;
  top:0px;
  width:40px;
  height:40px;
  color:#4BAE4F;
}
#u355 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u356 {
  position:absolute;
  left:0px;
  top:101px;
  width:500px;
  height:74px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  white-space:nowrap;
}
